.form{
    width: 550px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: blue;  */ 
    padding-bottom: 2.5rem;
}
.container{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
input{
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    
}
button{
    width: 90%;
    height: 2.5rem;
    color: white;
    border-radius: 5px;
    background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
    cursor: pointer;
    border: none;
}

.meme-container{
    display: flex;
    margin-left: 1.5rem;
    max-width: 500px;
    justify-content: center;
    position: relative;
}

.meme{
    max-width: 500px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}